<div class="card rounder shadow-sm" >
  <form [formGroup]="form">
   <!-- <p>Form value: {{form.value|json}}</p>
   <p>Form valid: {{form.status|json}}</p> -->
    <div class="p-3">
      <div class="form-row">
        <div class="form-group col-md-12">
          <label>Tema</label>
          <input type="text" class="form-control"
          [ngClass]="cssValidator(f.tema)"
          formControlName="tema" placeholder="Insira o Tema">
          <div *ngIf="f.tema.errors?.required" class="invalid-feedback">
            Tema é Obrigatório.
          </div>
          <div *ngIf="f.tema.errors?.minlength"  class="invalid-feedback">
            Tema tem  que ter no minimo 4 caracteres.
          </div>
          <div *ngIf="f.tema.errors?.maxlength" class="invalid-feedback">
            Tema tem  que ter no maximo 50 caracteres.
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-8">
          <label>Local</label>
          <input type="text" class="form-control"
          [ngClass]="cssValidator(f.local)"
          formControlName="local" placeholder="Insira o Local">
          <div *ngIf="f.local.errors?.required && f.local.touched" class="invalid-feedback">
            Local é Obrigatório.
          </div>
        </div>
        <div class="form-group col-md-4">
          <label>Data e Hora</label>
          <input type="datetime" class="form-control"
          [ngClass]="cssValidator(f.dataEvento)"
          value={{evento.dataEvento|DateFormatPipe}}
          bsDatepicker
          [bsConfig]="bsConfig"
          formControlName="dataEvento" placeholder="Insira o Data e Hora">
          <div *ngIf="f.dataEvento.errors?.required && f.dataEvento.touched" class="invalid-feedback">
            Data e Hora é Obrigatório.
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-2">
          <label>Qtd Pessoas</label>
          <input type="number" class="form-control"
          [ngClass]="cssValidator(f.qtdPessoas)"
          formControlName="qtdPessoas" placeholder="Insira o Qtd Pessoas">
          <div *ngIf="f.qtdPessoas.errors?.required && f.qtdPessoas.touched" class="invalid-feedback">
            Qtd Pessoas é Obrigatório.
          </div>
          <div *ngIf="f.qtdPessoas.errors?.max && f.qtdPessoas.touched" class="invalid-feedback">
            Qtd Pessoas deve ser menor que 120000
          </div>
        </div>
        <div class="form-group col-md-2">
          <label>Telefone</label>
          <input type="text" class="form-control"
          [ngClass]="cssValidator(f.telefone)"
          formControlName="telefone" placeholder="Insira o (000) 90000-0000">
          <div *ngIf="f.telefone.errors?.required && f.telefone.touched" class="invalid-feedback">
            Telefone é Obrigatório.
          </div>
        </div>
        <div class="form-group col-md-4">
          <label>Email</label>
          <input type="text" class="form-control"
          [ngClass]="cssValidator(f.email)"
          formControlName="email" placeholder="Insira o e-mail">
          <div *ngIf="f.email.errors?.required && f.email.touched" class="invalid-feedback">
            Email é Obrigatório.
          </div>
          <div *ngIf="f.email.errors?.email && f.email.touched" class="invalid-feedback">
            Email deve ser um endereço valido.
          </div>
        </div>
        <div class="form-group col-md-4">
          <label>Imagem</label>
          <input type="text" class="form-control"
          [ngClass]="cssValidator(f.imagemURL)"
          formControlName="imagemURL" placeholder="Insira a Imagem">
          <div *ngIf="f.imagemURL.errors?.required && f.imagemURL.touched" class="invalid-feedback">
            Imagem é Obrigatório.
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex">
        <button class="btn btn-outline-secondary mr-auto border" (click)="resetForm()">
          Cancelar Alteração
        </button>
        <button class="btn btn-success" [disabled]="!form.valid" (click)="salvarAlteracao()">
           <!-- <span class="spinner-border spinner-border-sm mr-1"></span> -->
          Salvar Evento
        </button>
      </div>
    </div>
  </form>
</div>

